@use "../abstracts" as *;
@use "../base/typography" as typo;

#footer {
  background-color: $clr-footer-bg;
  padding: 56px 24px;
  @include text-preset(typo.$body-s);
  @include respond(small, min) {
    padding: 56px 80px;
  }
  @include respond(large, min) {
    padding: 47.32px 0;
  }
}

.footer-container {
  display: grid;
  gap: 32px;
  @include respond(large, min) {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 164px 352px 1fr;
    gap: 120px;
    align-items: start;
  }
}

.footer-logos {
  display: grid;
  justify-content: center;
  gap: 32px;
  @include respond(large, min) {
    gap: 56px;
    justify-content: start;
  }
}

.social {
  list-style: none;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  align-items: center;
}

.social-link {
  color: $clr-body-text-white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.social-link:focus-visible {
  outline-offset: 4px;
  outline: 2px solid $clr-accent;
  border-radius: 2px;
}

.footer-nav ul {
  list-style: none;
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 16px;
  @include respond(large, min) {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 32px;
    text-align: left;
  }
}

.footer-nav :nth-child(1) {
  @include respond(large, min) {
    grid-column: 1;
    grid-row: 1;
  }
}

.footer-nav :nth-child(2) {
  @include respond(large, min) {
    grid-column: 1;
    grid-row: 2;
  }
}

.footer-nav :nth-child(3) {
  @include respond(large, min) {
    grid-column: 1;
    grid-row: 3;
  }
}

.footer-link {
  color: $clr-body-text-white;
  text-decoration: none;
  outline: none;
  transition: color 0.3s ease;
}

.footer-link:focus-visible {
  outline-offset: 4px;
  outline: 2px solid $clr-accent;
  border-radius: 2px;
}

.footer-link:hover {
  color: $clr-accent;
}

.footer-copyright {
  display: grid;
  gap: 24px;
  justify-items: center;
  text-align: center;
  @include respond(large, min) {
    justify-content: end;
    text-align: left;
  }
}

.footer-copyright .primary-btn {
  @include respond(large, min) {
    justify-self: end;
  }
}

.copyright {
  color: hsla(0, 0%, 100%, 0.5);
}
