@use "../abstracts" as *;
@use "../base/typography" as typo;

.hero {
  margin-bottom: 56px;
  @include respond(small, min) {
    margin-bottom: 72px;
  }
  @include respond(large, min) {
    margin: 0;
    position: relative;
    height: 778px;
    z-index: 6;
  }
}

.hero-content {
  display: grid;
  gap: 24px;
  justify-items: center;
  text-align: center;
  padding: 0 24px;
  @include respond(small, min) {
    padding: 0;
    max-width: 447px;
    width: 100%;
    margin: 0 auto;
  }
  @include respond(large, min) {
    text-align: left;
    justify-items: start;
    grid-column: 1;
    grid-row: 1;
    margin-top: 173px;
  }
}

.hero-wrapper {
  position: relative;
  z-index: 0;
}

.hero-container {
  display: grid;
  gap: 48px;
  @include respond(large, min) {
    grid-template-columns: 447px 1fr;
    gap: 32px;
    align-items: start;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
  }
}

.hero-img-wrapper {
  position: relative;
  z-index: 10;
}

.hero-img {
  padding: 0 24px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: -116px;
  position: relative;
  z-index: 5;
  @include respond(small, min) {
    padding: 0 80px;
    margin-top: -220px;
  }
  @include respond(large, min) {
    aspect-ratio: 728 / 900;
    width: 728px;
    position: absolute;
    padding: 0;
    margin-top: 0;
    top: -165px;
    right: -281px;
    z-index: 11;
  }
}

.hero-bg {
  position: absolute;
  top: -84px;
  z-index: 1;
  width: 100%;
  height: auto;
  pointer-events: none;
  @include respond(small, min) {
    top: -80px;
  }
  @include respond(large, min) {
    width: 1371px;
    height: 892px;
    top: -187px;
    right: -561px;
  }
}
