@use "../abstracts" as *;
@use "../base/typography" as typo;

.marketing {
  margin-bottom: 64px;
  @include respond(small, min) {
    margin-bottom: 80px;
  }
  @include respond(large, min) {
    position: relative;
    margin-top: -140px;
    margin-bottom: 96px;
  }
}

.marketing::before {
  @include respond(large, min) {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $clr-section-bg;
    z-index: 0;
  }
}

.marketing-inner {
  padding: 64px 24px;
  background-color: $clr-section-bg;
  @include respond(small, min) {
    padding: 80px;
  }
  @include respond(large, min) {
    padding: 96px 0;
    background-color: transparent;
    position: relative;
    z-index: 1;
  }
}

.marketing-container {
  display: grid;
  gap: 48px;
  @include respond(small, min) {
    gap: 72px;
  }
  @include respond(large, min) {
    max-width: 1116px;
    width: 100%;
    margin: 0 auto;
  }
}

.marketing-intro {
  display: grid;
  gap: 16px;
  text-align: center;
  max-width: 518px;
  width: 100%;
  margin: 0 auto;
  @include respond(small, min) {
    gap: 32px;
  }
  @include respond(large, min) {
    max-width: 635px;
    margin: 0;
    text-align: left;
  }
}

.marketing-articles-container {
  display: grid;
  gap: 32px;
  @include respond(small, min) {
    grid-template-columns: 1fr 1fr;
    gap: 64px 56px;
    align-items: start;
  }
  @include respond(large, min) {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
}

.marketing-article {
  display: grid;
  gap: 40px;
  justify-items: center;
  @include respond(small, min) {
    justify-items: start;
  }
}

.marketing-article-contents {
  display: grid;
  gap: 24px;
  text-align: center;
  max-width: 400px;
  @include respond(small, min) {
    text-align: left;
    @include text-preset(typo.$body-m);
  }
}
