@use "../abstracts" as *;
@use "../base/typography" as typo;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $clr-body-text-light;
  background-color: hsl(233, 26%, 90%);
}

.site-wrapper {
  background-color: $clr-body-bg;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  box-shadow: 0 4px 12px rgba($blue950, 0.05), 0 2px 6px rgba($blue950, 0.02);
  position: relative;
  z-index: 0;
}

img,
svg {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  display: none;
  position: fixed;
  background: $secondary-gradient;
  inset: 0;
  z-index: 900;
}

.overlay.visible {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Safari/Chrome */
  appearance: textfield; /* Standard */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
